@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* start common shared style here  */

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    font-family: "Mulish", sans-serif;
    border: 1px solid orangered;
    margin: auto;
}

.btn-praimary {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    padding: 18px 35px;
    border: 0;
}

.title-praimary {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.description-praimary {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

/* start navs styles here */



/* start banners styles here */
.banner-container {
    margin: 50px 135px;
    padding: 106px 185px;
    background: linear-gradient(to top, #28373a00, rgb(0 0 0 / 87%)), url(../Images/Group-13.png);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-content {
    text-align: center;
}

.banner-title {
    color: #ffffff;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner-description {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 48px;
}

.banner-btn-container {}

.banner-btns {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 16px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: max-content;

}

.input {
    padding: 20px 0px 20px 15px;
    border-radius: 8px;
    outline: 0;
    border: 0;
    font-size: 1rem;
}

.select {
    padding: 20px 25px 20px 15px;
    color: rgba(19, 19, 24, 0.50);
    border-radius: 8px;
    outline: 0;
    border: 0;
    font-size: 1rem;
    width: 100%;
}


/* start populer section styles here */
.populer-section-container {
    margin: 100px 135px;
    display: flex;
    align-items: center;
    gap: 55px;
}

.populer-content-container>ul {
    margin-left: 20px;
}

.populer-description,
.populer-list {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 18px;
    margin-bottom: 18px;
}

/* start Choose section styles here */
.choose-section-container {
    margin: 100px 135px;
    text-align: center;
}

.choose-description {
    padding: 0 200px;
    margin-top: 24px;
}

.image-box-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 30%);
    gap: 24px;
    margin-top: 50px;
}

.image-title {
    position: relative;
    top: -50%;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 800;
}

.image-box-1 {
    grid-column: 1/span 6;

}

.image-box-2 {
    grid-column: 7/span 6;
}

.image-box-3 {
    grid-column: 1/span 4;
}

.image-box-4 {
    grid-column: 5/span 5;
}

.image-box-5 {
    grid-column: 10/span 3;
}

.image-box-6 {
    grid-column: 1/span 6;
}

.image-box-7 {
    grid-column: 7/span 6;
}

.image-box-container img {
    width: 100%;
    height: 100%;
}

/* start why section styles */
.why-section-container {
    margin: 0 135px;
    text-align: center;
}

.why-description {
    padding: 24px 264px 0;
}

.why-card-container {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 50px;

}

.card-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}

.card-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px;
}

.card-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 32px;
    grid-column: 1/span 2;
    width: 43%;
    margin: auto;
}

.card-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 32px 0 16px;
}

/* start newslatter section styles */

.news-section-container {
    margin: 100px 135px;
    display: flex;
    gap: 24px;
}

.news-content-box {
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    height: 100%;
}

.news-content-box>input {
    width: 90%;
    padding: 16px 20px;
    margin-top: 16px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.news-content-box>button {
    width: 100%;
    margin-top: 24px;

}

.news-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
}

.news-p {
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 2px solid rgba(19, 19, 24, 0.10);
    margin-bottom: 15px;
}

.news-image-box {}
.news-image-box>img{
    width: 100%;
}

.news-image-h3 {}

.news-image-h2 {}








/* start mobile device styles here */
@media screen and (max-width: 600px) {
    .banner-container {
        margin: 20px;
        padding: 10px;

    }

    .banner-btn-container {
        margin: 0 36px 32px;

    }

    .banner-btns {
        flex-direction: column;
    }

    .banner-title {
        font-size: 1.5rem;
        margin-top: 25px;

    }

    .input {
        width: 94%;
        padding: 12px 0px 12px 15px;
    }

    .banner-btn {
        width: 100%;
        padding: 10px 35px;
        font-size: 1rem;
        font-weight: 500;
    }

    .select {
        padding: 12px 25px 12px 15px;
    }

    /* start populer styles */
    .populer-section-container {
        flex-direction: column;
        margin: 24px 20px;
        gap: 20px;
    }

    .populer-title {
        font-size: 1.5rem;
    }

    .populer-image-container>img {
        width: 100%;
    }

    /* start choose styles */
    .choose-section-container {
        margin: 24px 20px
    }

    .choose-description {
        padding: 0 10px;
    }

    .choose-title {
        font-size: 1.5rem;
    }

    .image-box-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        margin-top: 16px;
    }

    .box {
        width: 100%;
        height: 200px;
    }

    /* start why section styles */
    .why-section-container {
        margin: 0;
        padding: 0 20px;
    }

    .why-title {
        font-size: 1.5rem;
    }

    .why-description {
        padding: 0;
    }

    .why-card-container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .card-3 {
        width: 81%;
    }


}